body {
  background-image: url("img/bg2.jpeg");
  background-repeat: repeat-y;
  background-size: 100%;
}
strong {
  position: relative;
  top: -50px;
  left: 170px;
  font-size: 115px;
  font-family: cursive;
  text-shadow: 2px 2px 4px black;
  background-image: url("img/hb2.png");
}
nav {
  text-align: center;
  position: relative;
  top: -35px;
  font-size: larger;
  text-decoration: none;
}
.navitem {
  text-decoration: none;
  font-weight: 500;
  font-size: x-large;
}
.navitem:hover {
  background-color: black;
  color: yellow;
  font-size: 150%;
}
img[src="img/logo.jpeg"] {
  border-radius: 50%;
}
img[src="img/logo2.png"] {
  border-radius: 50%;
  float: right;
}
section img {
  float: left;
  width: 12.5%;
  height: 12.5%;
}
b {
  position: relative;
  left: 240px;
  top: -40px;
}
footer {
  background-color: lightslategray;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  border: 2px solid black;
  box-shadow: 2px 2px 4px black;
}
#card:hover{
  background-color:lightsalmon;
  font-size: 150%;
}
.map{
  margin-left: 120px;
  border: 2px solid black;
  border-radius: 5%;
  box-shadow: 2px 2px 5px black;
}
.form{
  float: right;
  position:relative;
  left:-120px;
  top:15px;
  font-weight: 700;
  font-style: italic;
  box-shadow: 2px 2px 5px black;
}
.table{
  float: right;
  position: relative;
  right:100px;
}
th{
  border:2px solid white;
  height:50px;
  font-size:1.5em;
  width:120px;
  color:white;
  background-color: black;
}
td{
  border:1px dotted blue;
}
table{
  border-collapse: collapse;
  border:3px solid red;
  text-align:center;
  font-size: 1.2em;
  font-weight: 700;
  box-shadow: 2px 2px 5px red;
}
.list{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 1.6em;
  border:2px solid green;
  box-shadow: 2px 2px 4px green;;
  position:relative;
  left:100px;
}
tfoot{
  font-size: 1.3em;
}
tr:hover {
  background-color:whitesmoke;
}
.ipl{
  border : 2px solid black;
  position:relative;
  left:175px;
  box-shadow: 2px 2px 4px blue;
}
iframe{
  border: 2px solid black;
  box-shadow: 2px 2px 5px black;
}